<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>NSPrivacyAccessedAPITypes</key>
    <array>
        <!-- AFNetworking: Đo thời gian request -->
        <dict>
            <key>NSPrivacyAccessedAPIType</key>
            <string>NSPrivacyAccessedAPICategorySystemBootTime</string>
            <key>NSPrivacyAccessedAPITypeReasons</key>
            <array>
                <string>35F6.1</string> <!-- Đồng bộ thời gian network -->
            </array>
        </dict>
    </array>
    <key>NSPrivacyTracking</key>
    <false/> <!-- Không tracking user -->
    <key>NSPrivacyTrackingDomains</key>
    <array/> <!-- Không có domain tracking -->
</dict>
</plist>
